<form>
    <div>
        <label class="profile-label">New password:</label>
        <input class="profile-input" id="password" type="password" name="password" [(ngModel)]="password">
        <div class="profile-input-error"></div>
        
        <label class="profile-label">Repeat password:</label>
        <input class="profile-input" id="repeatedPassword" type="password" name="repeatedPassword" [(ngModel)]="repeatedPassword">
        <div class="profile-input-error">{{errors.password}}</div>
    </div>

    <div class="profile-save-cancel" (click)="changePassword()">
        <div class="profile-save-button">
            <div class="profile-button-text">Change password</div>
        </div>
    </div>
</form>
