<div class="deliveries">
    <div class="title">Deliveries</div>
    <div class="card">
        <fa-icon class="truck" [icon]="faTruckMedical" />
        <div class="content">
            <div class="label">
                <fa-icon [icon]="faHospital" />
                Hospital
            </div>
            <div class="label">
                <fa-icon [icon]="faCalendarDay" />
                Date
            </div>
            <div class="label green">
                <fa-icon [icon]="faCheck" />
                Status
            </div>
        </div>
        <div class="start">
            <div class="start-text">Start</div>
        </div>
    </div>
    <div class="card">
        <fa-icon class="truck" [icon]="faTruckMedical" />
        <div class="content">
            <div class="label">
                <fa-icon [icon]="faHospital" />
                Hospital
            </div>
            <div class="label">
                <fa-icon [icon]="faCalendarDay" />
                Date
            </div>
            <div class="label green">
                <fa-icon [icon]="faCheck" />
                Status
            </div>
        </div>
        <div class="start">
            <div class="start-text">Start</div>
        </div>
    </div>
</div>
